### 1. Print numbers from 1 to 10 using a for loop

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [5]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [6]:
word="python"
for i in word:
    print(i)

p
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [9]:
for i in range(1,6):
    print(i**2)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [13]:
list1=[1,584,3654,"alice","bob"]
for i in list1:
    print(i)

1
584
3654
alice
bob

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [23]:
total= 0  
for num in range(1, 51): 
    total+= num
print(f"The sum of numbers:",total)

The sum of numbers: 1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [27]:
for i in range (10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [29]:
for i in range(1,71):
    if i%7==0:
        print(i)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [35]:
string="education"
print(string)
sum=0
for i in string:
    if i in ('a','e','i','o','u'):
        sum+=1
print("no.of vowels:",sum)

education
no.of vowels: 5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [37]:
for i in range(1,31,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [20]:
letters=input("enter any word:")
print(letters)
count_upper_letters=0
for i in letters:
    if i.upper()==i :
        count_upper_letters+=1
print(count_upper_letters)

OMKar
3

### 12. Create a new list that contains only the positive numbers from another list

In [18]:
num=[55, 241, 875,-547,354,-874,3654,-878,-9,354,0,3254]
positive_num=[]
for i in num :
    if i>=1 and num!=0:
        positive_num.append(i)
print(positive_num)

[55, 241, 875, 354, 3654, 354, 3254]

### 13. Print numbers from 1 to 10 using a while loop

In [30]:
i=1
while 1<=i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [2]:
i=1
while i<=50:
    if i%5==0:
        print(i)
    i+=1

5
10
15
20
25
30
35
40
45
50

### 15. Print numbers from 10 to 1 in reverse using a while loop

In [5]:
i=10
while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

### 16. Keep asking the user to enter numbers until the user enters 0

In [6]:
user_input=int(input("enter code:"))
while user_input!=0:
        print("try again")
        user_input=int(input("enter code:"))
print("code matched")

try again
try again
try again
code matched

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [5]:
i=1
while 0<i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [41]:
fruits={"apple":120,"mango":100,"banana":40}
for i in fruits:
    print(i)

apple
mango
banana

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [40]:
fruits={"apple":120,"mango":100,"banana":40}
for i in fruits.values():
    print(i)

120
100
40

### 20. Print both keys and values of a dictionary using a for loop

In [ ]:
fruits={"apple":120,"mango":100,"banana":40}
for i,j in fruits.items():
    print(i,"-",j)

apple - 120
mango - 100
banana - 40

### 21. Count how many keys are in a dictionary using a for loop

In [46]:
fruits={"apple":120,"mango":100,"banana":40}
print(fruits)
count_keys=0
for i in fruits:
    count_keys+=1
print(count_keys)

{'apple': 120, 'mango': 100, 'banana': 40}
3

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [47]:
fruits={"apple":120,"mango":100,"banana":40,"watermelon":200}
for i in fruits:
    if i.startswith("a"):
        print(i)

apple

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [51]:
students={"omkar":70,"atharva":90,"om":85,"pratik":55,"prathamesh":60}
for i,j in students.items():
    if j>80:
        print(i,j)

atharva 90
om 85

### 24. Given a dictionary, print the sum of all the values using a for loop

In [48]:
fruits={"apple":120,"mango":100,"banana":40,"watermelon":200}
sum=0
for i in fruits.values():
    sum +=i
print(sum)

460

### 25. Given a dictionary, find the key with the highest value using a for loop

In [53]:
fruits={"apple":120,"mango":100,"banana":400,"watermelon":200}
for i in fruits.values():
    if i==max(fruits.values()):
        print(i)

400

### 26. Convert all dictionary keys into a list using a for loop

In [57]:
fruits={"apple":120,"mango":100,"banana":400,"watermelon":200}
dic_keys=[]
for i in fruits:
    dic_keys.append(i)
dic_keys

['apple', 'mango', 'banana', 'watermelon']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [63]:
fruits={"apple":120,"mango":100,"banana":400,"watermelon":200,"orange":150}
print(fruits)
for i in fruits:
    print(i,len(i))

{'apple': 120, 'mango': 100, 'banana': 400, 'watermelon': 200, 'orange': 150}
apple 5
mango 5
banana 6
watermelon 10
orange 6

### 28. Given a list of numbers, print only numbers greater than 10

In [72]:
num=[25,254,84,65,87,254,0,1,3,5]
print("index value")
for i in num:
    if i>10:
        print(num.index(i),"    ",i)

index value
0      25
1      254
2      84
3      65
4      87
1      254

### 29. Count how many elements in a list are integers using a for loop

In [73]:
elements=[1,8,"alice","bob",2541,"om457",54]
count=0
print(elements)
for i in elements:
    if type(i)==int:
        count+=1
print(count)

[1, 8, 'alice', 'bob', 2541, 'om457', 54]
4

### 30. Print the sum of all even numbers in a list using a for loop

In [76]:
num=[1,2,3,4,5,6,7,8,9,5,2,1,0,2,1,5,4,8,4,5,8,4,2,1,55,1,545,12,5,411,4,45]
sum=0
for i in num:
    if i%2==0:
        sum+=i
print(sum)

70

### 31. Print the cube of each number in a list of 5 numbers

In [77]:
num=[5,8,66,2,474]
for i in num:
    print(i,"-",i**3)

5 - 125
8 - 512
66 - 287496
2 - 8
474 - 106496424

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [78]:
sentence="python is fun"
for i in sentence.split():
    print(i)

python
is
fun

### 33. Print the first 5 multiples of 3 using a for loop

In [80]:
for i in range(1,6):
    print(i*3)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [2]:
names=['omkar',"Adesh","anil","arun","pratik","om","Athrva"]
print(names)
for i in names:
    if i.startswith("A"):
        print(i)

['omkar', 'Adesh', 'anil', 'arun', 'pratik', 'om', 'Athrva']
Adesh
Athrva

### 35. Find the largest number in a list using a for loop

In [9]:
# method 1
numbers=[254,32,21,888,999,10,5]
print(numbers)
for i in numbers:
    if max(numbers)==i:
        print(i)

[254, 32, 21, 888, 999, 10, 5]
999

In [10]:
# method 2
numbers=[254,32,21,888,999,10,5]
print(numbers)
max_num=0
for i in numbers:
    if max_num<=i:
        max_num=i
print(max_num)

[254, 32, 21, 888, 999, 10, 5]
999

### 36. Print the index and value of each element in a list

In [16]:
students=["alice","bob","john","wick","leo","neel"]
print(students)
print("index  value")
for i in students:
    print(students.index(i),"    ",i)

['alice', 'bob', 'john', 'wick', 'leo', 'neel']
index  value
0      alice
1      bob
2      john
3      wick
4      leo
5      neel

### 37. Create a dictionary with 5 students and their marks

In [34]:
students={1:{"name":"abc","marks":80},2:{"name":"xyz","marks":82},3:{"name":"pqr","marks":90}}
print(students)

{1: {'name': 'abc', 'marks': 80}, 2: {'name': 'xyz', 'marks': 82}, 3: {'name': 'pqr', 'marks': 90}}

### 38. Use a for loop to print all student names

In [ ]:
#1
for i,j in students.items():
    print(j["name"])

abc
xyz
pqr

In [ ]:
#2
print("no name marks")
for i,j in students.items():
    print(i,"",j["name"]," ",j["marks"])

no name marks
1  abc   80
2  xyz   82
3  pqr   90

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [55]:
fruits={"apple":120,"mango":100,"banana":400,"watermelon":200,"orange":150}
print(fruits)
for i,j in fruits.items():
    print(i,"-",j,"$/kg")

{'apple': 120, 'mango': 100, 'banana': 400, 'watermelon': 200, 'orange': 150}
apple - 120 $/kg
mango - 100 $/kg
banana - 400 $/kg
watermelon - 200 $/kg
orange - 150 $/kg

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [72]:
products={"pen":10,"book":100,"bag":300,"table":350,"bench":500,"notebook":50,"compass":60}
print("old record:-",products)

for i,j in products.items():
    products[i]=j+(j*10/100) 
    
print("new records:-",products)

old record:- {'pen': 10, 'book': 100, 'bag': 300, 'table': 350, 'bench': 500, 'notebook': 50, 'compass': 60}
new records:- {'pen': 11.0, 'book': 110.0, 'bag': 330.0, 'table': 385.0, 'bench': 550.0, 'notebook': 55.0, 'compass': 66.0}

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [98]:
item={"pen":10,"book":100,"bag":300,"table":350,"bench":500,"notebook":50,"compass":60,"pencil":5}
print("old:-",item)

to_delete_key=[]
for i,j in item.items():
    if j<50:
        to_delete_key.append(i)
print(to_delete_key)

for key in to_delete_key:
    item.pop(key)
    
print("new:-",item)

old:- {'pen': 10, 'book': 100, 'bag': 300, 'table': 350, 'bench': 500, 'notebook': 50, 'compass': 60, 'pencil': 5}
['pen', 'pencil']
new:- {'book': 100, 'bag': 300, 'table': 350, 'bench': 500, 'notebook': 50, 'compass': 60}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [112]:
student={"PHY":76,"MATHS":85,"CHE":80,"ENG":60}
print("old:",student)

new_rec={"BIO":94,"STATS":88}
student.update(new_rec)
print("new:",student)

print("\nUpdates Records:-")
for i,j in student.items():
    if i in new_rec:
        print(i,j)

old: {'PHY': 76, 'MATHS': 85, 'CHE': 80, 'ENG': 60}
new: {'PHY': 76, 'MATHS': 85, 'CHE': 80, 'ENG': 60, 'BIO': 94, 'STATS': 88}

Updates Records:-
BIO 94
STATS 88

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [113]:
people={"alice":22,"bob":20,"leo":30,"john":45,"wick":10,"neel":15}
print("old:",people)
for i,j in people.items():
    people[i]=j+1
print("new:",people)

old: {'alice': 22, 'bob': 20, 'leo': 30, 'john': 45, 'wick': 10, 'neel': 15}
new: {'alice': 23, 'bob': 21, 'leo': 31, 'john': 46, 'wick': 11, 'neel': 16}

### 44. Print numbers from 0 to 9 using range()

In [82]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [83]:
for i in range(5,16):
    print(i)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [84]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [115]:
numbers=[254,32,21,888,999,10,5]
len(numbers)

7

### 48. Print the length of a given string using len()

In [116]:
name="Patil"
len(name)

5

### 49. Use range() and len() to iterate over a list by index and print each element

In [123]:
numbers=[254,32,21,888,999,10,5,8]
for i in range(0,len(numbers)):
    print(i,numbers[i])

0 254
1 32
2 21
3 888
4 999
5 10
6 5
7 8

### 50. Print the sum of numbers from 1 to 100 using range()

In [85]:
sum=0
for i in range(1,101):
    sum+=i
sum

5050