### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [2]:
dict={"name":"abc","age":"25","city":"kolhapur"}
dict

{'name': 'abc', 'age': '25', 'city': 'kolhapur'}

### 2. Create a dictionary and print the value of a specific key.

In [5]:
dict.get("age")

'25'

### 3. Create a list of 5 numbers and print the second element.

In [9]:
lis=[1,2,3,4,5,6]
lis[2]

3

### 4. Add an element "banana" to an existing list.

In [10]:
lis.append("banana")
lis

[1, 2, 3, 4, 5, 6, 'banana']

### 5. Insert "apple" at index 2 in a list.

In [12]:
lis.insert(2,"apple")
lis

[1, 2, 'apple', 3, 4, 5, 6, 'banana']

### 6. Remove the element 6 from a list.

In [14]:
lis.remove(6)
lis

[1, 2, 'apple', 3, 4, 5, 'banana']

### 7. Create a tuple with 4 elements and print the last one.

In [2]:
tp=("red","blue","orange","black")
tp

('red', 'blue', 'orange', 'black')

### 8. Convert a tuple into a list.

In [6]:
lst=list(tp)
lst

['red', 'blue', 'orange', 'black']

### 9. Find the length of a given tuple.

In [7]:
len(tp)

4

### 10. Store 5 student names in a list and print them using a loop.

In [9]:
ls=["john","alice","bob","wick","leo"]
for names in ls:
    print(names)

john
alice
bob
wick
leo

### 11. Create two lists and concatenate them.

In [11]:
ls_1=[1,2,3,4]
ls_2=[5,6,7,8]
ls_1+ls_2
#ls_1.extend(ls_2)

[1, 2, 3, 4, 5, 6, 7, 8]

### 12. Reverse a list without using reverse().

In [13]:
liss=[1,2,3,4,5,6,7,8,9,10]
liss.reverse()
liss

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 13. Sort a list in descending order.

In [19]:
des=[4,5,8,7,2,5,9,4,1,2,0,5,78,9,5,5]
des.sort()
des.reverse()
des

[78, 9, 9, 8, 7, 5, 5, 5, 5, 5, 4, 4, 2, 2, 1, 0]

### 14. Create a set with 5 numbers and add a new number.

In [21]:
st={1,5,87,320,14}
st.add(45)
st

{1, 5, 14, 45, 87, 320}

### 15. Remove an element from a set using discard().

In [24]:
st.discard(45)
st

{1, 5, 14, 87, 320}

### 16. Find the union of two sets.

In [30]:
st_1={54,36,41,25,2,14,25}
st_2={84,55,22,7,541,14,65}
st_1.union(st_2)

{2, 7, 14, 22, 25, 36, 41, 54, 55, 65, 84, 541}

### 17. Find the intersection of two sets.

In [31]:
st_1.intersection(st_2)

{14}

### 18. Check if a value exists in a set.

In [38]:
s={54,36,41,25,2,14,25}
for i in s:
    if (i==41):
        print("Yes")

Yes

### 19. Create a set and clear all elements.

In [39]:
s={54,36,41,25,2,14,25}
s.clear()
s

set()

### 20. Convert a list with duplicate values into a set.

In [1]:
ls=[4,5,2,1,6,5,4,2,1,5,5,1,4,5,1,4,5,2,1,4,5,1,4,5,5,41]
st=set(ls)
st

{1, 2, 4, 5, 6, 41}

### 21. Create a dictionary and update the value of a key.

In [8]:
dict= {"Name":"Rahul","Age": 23, "Height": 5.2, "Status":"Unemployed"}
dict.update({"Name":"xyz"})
dict

{'Name': 'xyz', 'Age': 23, 'Height': 5.2, 'Status': 'Unemployed'}

### 22. Delete a key-value pair from a dictionary.

In [9]:
dict.pop("Height")
dict

{'Name': 'xyz', 'Age': 23, 'Status': 'Unemployed'}

### 23. Print all keys of a dictionary.

In [10]:
dict.keys()

dict_keys(['Name', 'Age', 'Status'])

### 24. Print all values of a dictionary.

In [11]:
dict.values()

dict_values(['xyz', 23, 'Unemployed'])

### 25. Loop through a dictionary and print key and value.

In [17]:
dict= {"Name":"Rahul","Age": 23, "Height": 5.2, "Status":"Unemployed"}

for i,j in dict.items():
    print("key:",i)
    print("value:",j)

key: Name
value: Rahul
key: Age
value: 23
key: Height
value: 5.2
key: Status
value: Unemployed

### 26. Create a list of numbers and print only even numbers.

In [19]:
l=[1,25,45,12,10,23,2,65,98,52]
for i in l:
    if (i%2==0):
        print(i)

12
10
2
98
52

### 27. Create a tuple and unpack it into 3 variables.

In [20]:
tp=(87,58,99,15,445,44,77,87,5411,44)
tp

(87, 58, 99, 15, 445, 44, 77, 87, 5411, 44)

### 28. Check if a number is greater than 10 using a comparison operator.

In [31]:
tp=(87,58,99,15,4454,5,44,4,77,87,8,54,1,52,5,4,8,11,44)
for i in tp :
    if (i>10):
        print(i,":yes")
    else:
        print(i,"No")

87 :yes
58 :yes
99 :yes
15 :yes
4454 :yes
5 No
44 :yes
4 No
77 :yes
87 :yes
8 No
54 :yes
1 No
52 :yes
5 No
4 No
8 No
11 :yes
44 :yes

### 29. Use the in operator to check if "python" exists in a list.

In [33]:
lis=["c","cpp","java","python","c#","sql"]
for i in lis:
    if (i=="python"):
        print("Exist")

Exist

### 30. Use the and operator in a condition.

In [36]:
a=10
b=35
if (a<=10 and b>=10):
    print("sum",a+b)
else:
    print("diff:",(a-b))

sum 45

### 31. Use the % operator to check if a number is divisible by 5.

In [40]:
a=11
if (a%5==0):
    print("yes")
else:
    print("no")

no

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [41]:
print(2**5)

32

### 33. Create two numbers and compare them using >=.

In [44]:
x=1254
y=654
if (x>=y):
    print("wow")

wow

### 34. Create a list and remove the last element using pop().

In [45]:
ls=[54,2,5,45,84,554,88,7,96,32,1,25,54]
ls.pop()
ls

[54, 2, 5, 45, 84, 554, 88, 7, 96, 32, 1, 25]

### 35. Create a list and print its first and last elements.

In [52]:
print("first:",ls[0])
print("last:",ls[len(ls)-1])

first: 54
last: 25

### 36. Count how many times "apple" appears in a list.

In [53]:
fruit=['apple','mango','watermelon','apple','apple','guava','mango']
fruit.count("apple")

3

### 37. Create a tuple and check if a value exists using in.

In [59]:
tp=(5,4,8,4,52,1,54,5,4,54,1,4,4,1,44,1,4,4,41,4,4)
for i in tp:
    if(i==54):
        print("exist")
        break

exist

### 38. Convert a dictionaryâ€™s keys into a list.

In [62]:
dict= {"Name":"Rahul","Age": 23, "Height": 5.2, "Status":"Unemployed"}
ls=list(dict.keys())
ls

['Name', 'Age', 'Height', 'Status']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [4]:
stusent={1:{"name":"alice","marks":(54,25,45),"subject":("phy","che","maths")},2:{"name":"bob","marks":(55,45,40),"subject":("phy","che","maths")}}
stusent

{1: {'name': 'alice',
  'marks': (54, 25, 45),
  'subject': ('phy', 'che', 'maths')},
 2: {'name': 'bob', 'marks': (55, 45, 40), 'subject': ('phy', 'che', 'maths')}}

### 40. Merge two dictionaries into one.

In [10]:
student={"name":"alice","marks":(54,25,36,98),"subjects":("phy","che",'math',"bio")}
dict= {"Name":"alice","Age": 23, "Height": 5.2, "Status":"Unemployed"}
student.update(dict)
student

{'name': 'alice',
 'marks': (54, 25, 36, 98),
 'subjects': ('phy', 'che', 'math', 'bio'),
 'Name': 'alice',
 'Age': 23,
 'Height': 5.2,
 'Status': 'Unemployed'}

### 41. Create a set and print the number of elements.

In [8]:
st={655,6,5,4,5,8,7,5,4,5,8,4,5,8,7,5,4,8,5}
print(len(st))
st

6

{4, 5, 6, 7, 8, 655}

### 42. Create a dictionary and print all items using items().

In [11]:
student={"name":"alice","marks":(54,25,36,98),"subjects":("phy","che",'math',"bio")}
student.items()

dict_items([('name', 'alice'), ('marks', (54, 25, 36, 98)), ('subjects', ('phy', 'che', 'math', 'bio'))])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [17]:
ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:
    print(i,"-",i**2)

1 - 1
2 - 4
3 - 9
4 - 16
5 - 25
6 - 36
7 - 49
8 - 64
9 - 81
10 - 100

### 44. Multiply two numbers and print the result using *.

In [18]:
print(45*21)

945

### 45. Divide two numbers and print the results using / and //.

In [23]:
print(25/2)
print(25//2)

12.5
12

### 46. Create a list and replace the element at index 1.

In [28]:
ls=[54,2,5,9,5,4,8,4,1,4]
ls.pop(1)
ls.insert(1,685)
ls

[54, 685, 5, 9, 5, 4, 8, 4, 1, 4]

### 47. Create a tuple from user input (3 values).

### 48. Create a set from a string and print all unique characters.

In [1]:
str="apple"
st=set(str)
st

{'a', 'e', 'l', 'p'}

### 49. Use the is operator to compare two variables.

In [4]:
a=10
b=10
a is b

True

### 50. Create a dictionary and check if a key exists using in.

In [5]:
student={"name":"alice","marks":(54,25,36,98),"subjects":("phy","che",'math',"bio")}
for i in student.keys():
    if (i=="marks"):
        print("key avilable")

key avilable

### 51. Write a program to check if a number is between 10 and 50 using and.

In [6]:
a=45
if (a>10 and a<50):
    print("yess")

yess

### 52. Check if a number is less than 5 or greater than 20 using or.

In [ ]:
z=int(input("enter number:"))
print(z)
if (z<5):
    print("less than 5")
if(z>20):l=[]
    print("greater than 20")

55
greater than 20

### 53. Use not to check if a list is not empty.

In [ ]:
my = []
if not my:
    print("List is empty")
else:
    print("List is not empty")

List is empty

### 54. Write code to check if a character is a vowel using or.

In [34]:
x="omkar"
y=list(x)
print(y)
for i in y:
    if (i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
        print(i,"-It is vowel")

['o', 'm', 'k', 'a', 'r']
o -It is vowel
a -It is vowel

### 55. Check if a dictionary has both keys "name" and "age".

In [48]:
dict={"name":"alice","age":50,"roll_no":"23"}
k=dict.keys()
print(k)
s={"name","age"}
print(s)

dict_keys(['name', 'age', 'roll_no'])
{'name', 'age'}

In [49]:
if s.issubset(k):
    print("Keys Exist")
else:
    print("keys not exist")

Keys Exist

### 56. Verify if a set contains either 10 or 20.

In [56]:
s={12,54,10,51,30,25,24,54}
print(s)

{51, 54, 24, 25, 10, 12, 30}

In [57]:
if s.issuperset({10,20}):
    print("both are present")
else:   
   for i in s :
    if (i==10 or i==20):
        print(i,"is present")

10 is present

### 57. Use not to check if a number is not equal to 100.

In [60]:
a=52
b=100
print(not a==100)
not b==100

True

False

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [78]:
dict={"name":"bob","marks":75,"attendance":60}
if (dict.get("marks")>=35 and dict.get("attendance")>=75):
        print("pass")
else:
        print("fail")

fail

### 59. Use logical operators to check if a number is positive and even.

In [81]:
a=int(input("enter any number:"))
if a%2 == 0 and a > 0:
    print("positive + even")
else:
    print("Not Satisfied")

Not Satisfied

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [82]:
tp= (89, 67, 78, 99, 0, 13,45)
if len(tp) > 3 or 0 in tp:
    print("done")
else:
    print("not done")

done