# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [102]:
# Write your answer here
lst=[[1,2,3], [4,5], [6,7,8,9]]
print(lst)
for i in lst:
    for j in i:
        print(j,end=" ")

[[1, 2, 3], [4, 5], [6, 7, 8, 9]]
1 2 3 4 5 6 7 8 9

In [ ]:
#comprehension 
s=[j for i in lst for j in i ]
s

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [124]:
# Write your answer here
lst=[[10,20], [30], [5, 7, 8]]
print(lst)
total=0
for i in lst:
    for j in i:
        total+=j

print("sum of all numbers:",total)

[[10, 20], [30], [5, 7, 8]]
sum of all numbers: 80

In [ ]:
#comprehension 
l=sum(j for i in lst for j in i)
l

80

## **3. Count how many even numbers are present in a nested list.**

In [9]:
# Write your answer here
lst=[[1,2,3], [4,5], [6,7,8,9]]
print(lst)
count=0
for i in lst:
    for j in i:
        if j%2==0:
            count+=1
print("count of even numbers:",count)

[[1, 2, 3], [4, 5], [6, 7, 8, 9]]
count of even numbers: 4

In [ ]:
#comprehension
c=sum(1 for i in lst for j in i if j%2==0)
c

4

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [134]:
# Write your answer here
words=[['hello', 'world'], ['python']]
print(words)
for i in words:
    for j in i:
        print(j.upper())

[['hello', 'world'], ['python']]
HELLO
WORLD
PYTHON

In [ ]:
#comprehension
w=[j.upper() for i in words for j in i]
w

['HELLO', 'WORLD', 'PYTHON']

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [150]:
# Write your answer here
marks=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]
print(marks)

for i in marks:
    s=sum(i)
    print(i,"=",s)

[[80, 90, 85], [75, 70, 65], [88, 92, 79]]
[80, 90, 85] = 255
[75, 70, 65] = 210
[88, 92, 79] = 259

In [ ]:
#comprehension
total=[sum(i) for i in marks]
total

[255, 210, 259]

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [144]:
# Write your answer here
lst=[[20,42,59,60,78,20],[55,50,21,10,66,88,4],[3,12,78,5,4,1,100]]
new_lst=[]
print(lst)

for i in lst:
    for j in i:
        if j>50:
            new_lst.append(j)
print("Nubers greater than 50:",new_lst)

[[20, 42, 59, 60, 78, 20], [55, 50, 21, 10, 66, 88, 4], [3, 12, 78, 5, 4, 1, 100]]
Nubers greater than 50: [59, 60, 78, 55, 66, 88, 78, 100]

In [ ]:
#comprehension
new_lst=[j for i in lst for j in i if j>50]
new_lst

[59, 60, 78, 55, 66, 88, 78, 100]

## **7. Find the largest number inside a nested list.**

In [1]:
# Write your answer here
lst=[[20,42,59,60,78,20],[55,50,21,10,66,88,4],[3,12,78,5,4,1,100]]
print(lst)

max_num=0
for i in lst:
    for j in i:
       if max_num<j:
           max_num=j
print("Greatest Number in list:",max_num)

[[20, 42, 59, 60, 78, 20], [55, 50, 21, 10, 66, 88, 4], [3, 12, 78, 5, 4, 1, 100]]
Greatest Number in list: 100

In [12]:
#comprehension
max_num= print("Gretest Number:", max(j for i in lst for j in i if j==max(i))) 
max_num

Gretest Number: 100

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [20]:
# Write your answer here
lst=[[1,2], [3,4], [5]]
lst_new=[]
print(lst)
for i in lst:
    for j in i:
       lst_new.append(j)
lst=lst_new
print(lst)

[[1, 2], [3, 4], [5]]
[1, 2, 3, 4, 5]

In [24]:
#comprehension
lst=[[1,2], [3,4], [5]]
lst_ne=[num for item in lst for num in item]
lst_ne

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [31]:
# Write your answer here
lst=[[20,-1,42,59,6,-540,-58,78,20],[55,50,21,-63,10,66,-88,88,4],[3,12,-61,78,5,4,1,100]]
print("old_list:",lst)
for i in range(len(lst)):
    for j in range(len(lst[i])):
        if lst[i][j]<0:
            lst[i][j]=0
    
print("new_list:",lst)

old_list: [[20, -1, 42, 59, 6, -540, -58, 78, 20], [55, 50, 21, -63, 10, 66, -88, 88, 4], [3, 12, -61, 78, 5, 4, 1, 100]]
new_list: [[20, 0, 42, 59, 6, 0, 0, 78, 20], [55, 50, 21, 0, 10, 66, 0, 88, 4], [3, 12, 0, 78, 5, 4, 1, 100]]

In [ ]:
#comprehension
ls=[[0 if lst[i][j]<0 else lst[i][j] for j in range(len(lst[i]))] for i in range(len(lst)) ]
ls

[[20, 0, 42, 59, 6, 0, 0, 78, 20],
 [55, 50, 21, 0, 10, 66, 0, 88, 4],
 [3, 12, 0, 78, 5, 4, 1, 100]]

## **10. Count how many inner lists exist inside a nested list.**

In [35]:
# Write your answer here
lst=[[20,-1,42,59],[6-540,-58,78,20],[55,50,21,-63,10],[66,-88,88,4],[3,12,-61,78,5,4,1,100]]
print(lst)

count_nested=0
for i in lst:
    count_nested+=1
print("count of nested lists:",count_nested)

[[20, -1, 42, 59], [-534, -58, 78, 20], [55, 50, 21, -63, 10], [66, -88, 88, 4], [3, 12, -61, 78, 5, 4, 1, 100]]
count of nested lists: 5

In [36]:
#comprehension
count=sum(1 for i in lst )
count

5

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [ ]:
# Write your answer here
student={'A': {'age': 15, 'grade': 10},'B': {'age': 16, 'grade': 11} }
print(student)

print("name  age")

for i,j in student.items():
    print(i,"   ",j["age"])

{'A': {'age': 15, 'grade': 10}, 'B': {'age': 16, 'grade': 11}}
name  age
A     15
B     16

In [107]:
#comprehension
p={print(i,j["age"]) for i,j in student.items()}

A 15
B 16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [108]:
# Write your answer here
student={'A': {'age': 15, 'grade': 10},'B': {'age': 16, 'grade': 11} }
print("old record:",student)

for i,j in student.items():
    j["grade"]+=5
    
print("new record:",student)

old record: {'A': {'age': 15, 'grade': 10}, 'B': {'age': 16, 'grade': 11}}
new record: {'A': {'age': 15, 'grade': 15}, 'B': {'age': 16, 'grade': 16}}

In [113]:
#comprehension
student={'A': {'age': 15, 'grade': 10},'B': {'age': 16, 'grade': 11} }

rec = {i: {**j, "grade": j["grade"] + 5} for i, j in student.items()}
rec

{'A': {'age': 15, 'grade': 15}, 'B': {'age': 16, 'grade': 16}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [97]:
# Write your answer here
student={'A': {'age': 15, 'grade': 10},'B': {'age': 16, 'grade': 11} }
print(student)

for i,j in student.items():
    for k in j:
        print(i,k)

{'A': {'age': 15, 'grade': 10}, 'B': {'age': 16, 'grade': 11}}
A age
A grade
B age
B grade

In [101]:
#comprehension
s=[k for i,j in student.items() for k in j]
s

['age', 'grade', 'age', 'grade']

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [80]:
# Write your answer here
std={'A': {'math': 85, 'science': 90},'B': {'math': 70, 'science': 88},'C': {'math': 90, 'science': 88}}
print(std)
count=0
for name,info in std.items():
        if info["math"]>80:
            count+=1
print("count of students scored more than 80:",count)

{'A': {'math': 85, 'science': 90}, 'B': {'math': 70, 'science': 88}, 'C': {'math': 90, 'science': 88}}
count of students scored more than 80: 2

In [82]:
#comprehension
count=sum(1 for name,info in std.items() if info["math"]>80)
count

2

## **15. Create a new dictionary of students whose age is above 15.**

In [76]:
# Write your answer here
std={'A': {'age': 14, 'grade': 10},'B': {'age': 16, 'grade': 11} }
print(std)
new_std={}

for name,info in std.items():
    if info["age"]>15:
        new_std.update({name:info})
new_std

{'A': {'age': 14, 'grade': 10}, 'B': {'age': 16, 'grade': 11}}

{'B': {'age': 16, 'grade': 11}}

In [ ]:
#comprehension
new={name:info for name,info in std.items() if info["age"]>15}
new

{'B': {'age': 16, 'grade': 11}}

## **16. Find which student scored highest in science.**

In [69]:
# Write your answer here
std={'A': {'math': 85, 'science': 90},'B': {'math': 70, 'science': 108},'C': {'math': 90, 'science': 100}}
print(std)

high=0
for name,info in std.items():
    if info["science"]>high:
        high=info["science"]
        
print("\nhigh score:",high)

{'A': {'math': 85, 'science': 90}, 'B': {'math': 70, 'science': 108}, 'C': {'math': 90, 'science': 100}}

high score: 108

In [ ]:
#comprehension
std={'A': {'math': 85, 'science': 90},'B': {'math': 70, 'science': 108},'C': {'math': 90, 'science': 100}}

h = max(info["science"] for info in std.values())
h

108

## **17. Print employees who belong to the HR department from this dictionary.**

In [52]:
# Write your answer here
employee={1:{"name":"john","dept":"HR"},2:{"name":"Bob","dept":"IT"},3:{"name":"alice","dept":"HR"},4:{"name":"Mike","dept":"Sales"}}

print("HR employees:",)
for id,info in employee.items():
    if info["dept"]=="HR":
        print(info["name"])

HR employees:
john
alice

In [ ]:
#comprehension
n=[info["name"]  for id,info in employee.items() if info["dept"]=="HR"]
n

['john', 'alice']

## **18. Delete all entries where the status is 'inactive'.**

In [50]:
# Write your answer here
employees = {'E1': {'name': 'John', 'status': 'active'},'E2': {'name': 'Sara', 'status': 'inactive'},'E3': {'name': 'Mike', 'status': 'active'},
             'E4': {'name': 'Rita', 'status': 'inactive'}}

for id,info in list(employees.items()):
    if info["status"]=="inactive":
        employees.pop(id)
employees

{'E1': {'name': 'John', 'status': 'active'},
 'E3': {'name': 'Mike', 'status': 'active'}}

In [51]:
#comprehension
emp={employees.pop(id) if info["status"]=="inactive" else employees.update({id:info}) for id,info in list(employees.items())}
employees

{'E1': {'name': 'John', 'status': 'active'},
 'E3': {'name': 'Mike', 'status': 'active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [40]:
# Write your answer here
stock = {
    'item1': {'quantity': 10, 'price': 50},
    'item2': {'quantity': 5, 'price': 30},
    'item3': {'quantity': 8, 'price': 20}
}
total_quantity=0
for item,info in stock.items():
    total_quantity+=info["quantity"]
    
print("total quantity :",total_quantity)

total quantity : 23

In [41]:
#comprehension
t=sum(info["quantity"] for item,info in stock.items())
t

23

## **20. Convert all inner dictionary keys to uppercase.**

In [38]:
# Write your answer here
employees = {
    'E1': {'name': 'John', 'status': 'active'},
    'E2': {'name': 'Sara', 'status': 'inactive'},
    'E3': {'name': 'Mike', 'status': 'active'},
    'E4': {'name': 'Rita', 'status': 'inactive'}
}

for emp_id, info in employees.items():
    new_info = {}
    for k, v in info.items():
        new_info[k.upper()] = v     
    employees[emp_id] = new_info

print(employees)

{'E1': {'NAME': 'John', 'STATUS': 'active'}, 'E2': {'NAME': 'Sara', 'STATUS': 'inactive'}, 'E3': {'NAME': 'Mike', 'STATUS': 'active'}, 'E4': {'NAME': 'Rita', 'STATUS': 'inactive'}}

In [ ]:
#comprehension
employees = {
    'E1': {'name': 'John', 'status': 'active'},
    'E2': {'name': 'Sara', 'status': 'inactive'},
    'E3': {'name': 'Mike', 'status': 'active'},
    'E4': {'name': 'Rita', 'status': 'inactive'}
}

emp={id:{key.upper(): value for key,value in info.items()} for id,info in employees.items() }
emp

{'E1': {'NAME': 'John', 'STATUS': 'active'},
 'E2': {'NAME': 'Sara', 'STATUS': 'inactive'},
 'E3': {'NAME': 'Mike', 'STATUS': 'active'},
 'E4': {'NAME': 'Rita', 'STATUS': 'inactive'}}