# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [1]:
dict={"name":"Naredra","age":75,"city":"Gujarat"}
dict

{'name': 'Naredra', 'age': 75, 'city': 'Gujarat'}

2. Create a dictionary and print the value of a specific key.

In [16]:
dict={"name":"Naredra","age":75,"city":"Gujarat"}
dict.get("name")

'Naredra'

In [19]:
dict={"name":"Naredra","age":75,"city":"Gujarat"}
dict["name"]

'Naredra'

3. Make a dictionary and add a new key-value pair to it.

In [21]:
dict={"name":"Naredra","age":75,"city":"Gujarat"}
dict.update({"position":"PM"})
dict

{'name': 'Naredra', 'age': 75, 'city': 'Gujarat', 'position': 'PM'}

4. Create a dictionary and change the value of an existing key.

In [24]:
dict={"name":"Naredra","age":75,"city":"Gujarat"}
dict.update({"age":76})
dict

{'name': 'Naredra', 'age': 76, 'city': 'Gujarat'}

5. Create a dictionary and remove one key using pop().

In [27]:
dict={"name":"Naredra","age":75,"city":"Gujarat"}
dict.pop("city")
dict

{'name': 'Naredra', 'age': 75}

6. Create a dictionary and remove the last inserted item using popitem().

In [28]:
dict={1:"omkar",2:"prathamesh",3:"atharva",4:"om",5:"pratik"}
dict.popitem()

(5, 'pratik')

7. Create a dictionary and print all the keys.

In [30]:
dict={1:"omkar",2:"prathamesh",3:"atharva",4:"om",5:"pratik"}
dict.keys()

dict_keys([1, 2, 3, 4, 5])

8. Create a dictionary and print all the values.

In [31]:
dict={1:"omkar",2:"prathamesh",3:"atharva",4:"om",5:"pratik"}
dict.values()

dict_values(['omkar', 'prathamesh', 'atharva', 'om', 'pratik'])

9. Create a dictionary and print all the key-value items.

In [32]:
dict={1:"omkar",2:"prathamesh",3:"atharva",4:"om",5:"pratik"}
dict.items()

dict_items([(1, 'omkar'), (2, 'prathamesh'), (3, 'atharva'), (4, 'om'), (5, 'pratik')])

10. Make a dictionary and check the number of items using len().

In [33]:
dict={1:"omkar",2:"prathamesh",3:"atharva",4:"om",5:"pratik"}
len(dict)

5

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [39]:
abc={"name":"xyz","city":"pune","gender":"M","status":"Active"}
abc.keys()

dict_keys(['name', 'city', 'gender', 'status'])

12. Create an empty dictionary and add two key-value pairs one by one.

In [42]:
emp={}
emp.update({1:"alice"})
emp.update({2:'bob'})
emp

{1: 'alice', 2: 'bob'}

13. Create a dictionary and update one keyâ€™s value using update().

In [44]:
emp.update({2:"john"})
emp

{1: 'alice', 2: 'john'}

14. Create two dictionaries and combine them using update().

In [45]:
com={1:"TCS",2:"Google",3:"TATA"}
city={1101:"pune",102:"mumbai"}
com.update(city)
com

{1: 'TCS', 2: 'Google', 3: 'TATA', 1101: 'pune', 102: 'mumbai'}

15. Make a dictionary and get the value of a key using get().

In [46]:
sd={1: 'TCS', 2: 'Google', 3: 'TATA', 1101: 'pune', 102: 'mumbai'}
sd.get(3)

'TATA'

16. Create a dictionary and print its type using type().

In [47]:
dict={}
type(dict)

dict

17. Create a dictionary and replace one value with a new one.

In [49]:
abc={"name":"xyz","city":"pune","gender":"M","status":"Active"}
abc.update({"city":"Kolhapur"})
abc

{'name': 'xyz', 'city': 'Kolhapur', 'gender': 'M', 'status': 'Active'}

18. Create a dictionary and clear all items using clear().

In [50]:
abc={"name":"xyz","city":"pune","gender":"M","status":"Active"}
abc.clear()
abc

{}

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [51]:
dict={1:"abc",2:"xyz",3:"pqr",4:"klm"}
dict

{1: 'abc', 2: 'xyz', 3: 'pqr', 4: 'klm'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [53]:
abc={"name":"xyz","city":"pune","gender":"M","status":"Active"}
xyz=abc.copy()
xyz

{'name': 'xyz', 'city': 'pune', 'gender': 'M', 'status': 'Active'}