# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [2]:
lst=[45,25,2,0,25]
lst.append(89)
lst

[45, 25, 2, 0, 25, 89]

2. Make a list of fruits and insert a fruit at the second position.

In [4]:
fruits=["apple","banana","guava","mango"]
fruits.insert(2,"orange")
fruits

['apple', 'banana', 'orange', 'guava', 'mango']

3. Create a list of names and remove one name from the list.

In [7]:
name=["alice","bob","john","wick"]
name.pop()
#name.remove("alice")
name

['alice', 'bob', 'john']

4. Create a list of 4 items and change the value at index 2.

In [13]:
ls=[201,254,0,120]
ls[2]=555
ls

[201, 254, 555, 120]

5. Make a list of numbers and print only the first three elements.

In [15]:
num=[1,2,3,4,5,6,7,8,9,0]
num[0:3]

[1, 2, 3]

6. Create a list of colors and find the index of a specific color.

In [17]:
color=["red","orange",'blue',"black",'pink','white']
color.index("blue")

2

7. Create a list of 10 numbers and print how many times “5” appears.

In [18]:
no=[1,5,4,5,2,8,1,3,6,5,0,1,7,8,4,9]
no.count(5)

3

8. Make a list of 6 items and delete the item at index 3.

In [20]:
items=["book","pen","notebook","pad","pencil","rubber"]
items.pop(3)
items

['book', 'pen', 'notebook', 'pencil', 'rubber']

9. Create a list of animals and add three more animals using extend().

In [1]:
animals=["tiger","lion",'dog',"elephant","camal",'fish']
animals.extend(['cat','cow',"bull"])
animals

['tiger', 'lion', 'dog', 'elephant', 'camal', 'fish', 'cat', 'cow', 'bull']

In [2]:
animals=["tiger","lion",'dog',"elephant","camal",'fish']
extra=['cat','cow',"bull"]
animals.extend(extra)
animals

['tiger', 'lion', 'dog', 'elephant', 'camal', 'fish', 'cat', 'cow', 'bull']

10. Create a list and remove the last item using pop().

In [4]:
animal=["tiger","lion",'dog',"elephant","camal",'fish']
animal.pop()
animal

['tiger', 'lion', 'dog', 'elephant', 'camal']

11. Create a list of prices and sort them in ascending order.

In [8]:
cost=[102,512,845,326,514,754,219,1,4574,254,66]
cost.sort()
cost

[1, 66, 102, 219, 254, 326, 512, 514, 754, 845, 4574]

12. Make a list of countries and reverse the order of the list.

In [10]:
country=["IND",'US',"UK","UAE","ENG"]
country.reverse()
country

['ENG', 'UAE', 'UK', 'US', 'IND']

13. Create a list of words and check if “apple” is in the list.

In [25]:
words=['pen','bat','car','house','mango','road']
words.count("apple")
#words.index("apple")   -- if this shows error then is not in list else it is in the list

0

In [ ]:
words=['pen','bat','car','house','mango','road']
c=words.count("apple")
if (c==0) :
    print("NOt in list") 
else :
    print("In list")

NOt in list

14. Create a list of numbers and print the largest and smallest number.

In [38]:
numbers=[12,54,2,55,848,574,22,365,222,451,201,302,521,148,145]
numbers.sort()
print("smallest:",numbers[0])
print("largest:",numbers[-1])

smallest: 2
largest: 848

15. Make a list of 5 items and print each item using a loop.

In [65]:
itm=[11,55,44,22,66,99,88,22,333,44,770]
for i in itm:
    print(i)

11
55
44
22
66
99
88
22
333
44
770

16. Create two lists and combine them into one list.

In [71]:
lst_1=["alice","bob","wick","ken","tom"]
lst_2=[241,254,2,36,895,214,574]
lst_1 +lst_2                                #s=lst_1 +lst_2  s    -- save in list s

['alice', 'bob', 'wick', 'ken', 'tom', 241, 254, 2, 36, 895, 214, 574]

In [72]:
lst_1=["alice","bob","wick","ken","tom"]
lst_2=[241,254,2,36,895,214,574]
lst_1.extend(lst_2)
lst_1

['alice', 'bob', 'wick', 'ken', 'tom', 241, 254, 2, 36, 895, 214, 574]

17. Make a list and replace the last item with a new value.

In [76]:
lt=[1,5,7,54,98,35]
n=len(lt)
lt[n-1]=325
lt

[1, 5, 7, 54, 98, 325]

18. Create a list of numbers and print only the even numbers.

In [78]:
lis=[32,541,84,754,215,4215,201,5201,122,265,5845,954,124.11]
for i in lis:
    if (i%2==0):
        print(i)

32
84
754
122
954

In [82]:
# numbers are in sequence
num=[1,2,3,4,5,6,7,8,9,10,11,12,13]
num[::2]

[1, 3, 5, 7, 9, 11, 13]

19. Create a list and clear all items from the list.

In [84]:
lst=[24,254,254,12,265,21,1,2]
lst.clear()
lst

[]

20. Create a list of 5 values and copy it into another list.

In [85]:
lst=[2,5,4,32,54,78]
lst_2=lst.copy()
lst_2

[2, 5, 4, 32, 54, 78]